{% extends '@templates/layouts/app.twig' %}

{% block title %}
    Rólunk
{% endblock %}

{% block content %}
<section class="uk-section uk-section-muted">
    <div class="uk-container">
        
        <h1>Rólunk</h1>
       
    </div>
</section>
{% endblock %}