{% extends '@templates/layouts/app.twig' %}

{% block title %}
    Kapcsolat
{% endblock %}

{% block content %}
<section class="uk-section uk-section-secondary uk-section-large">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l uk-flex-middle">
            <div>
                <h1>Árajánlatkérés egyszerűen</h1>
                <h2 class="uk-margin-small-top uk-h2">{{  product.description }}</h2>
                <p class="subtitle-text">
                    Vegye fel velünk a kapcsolatot, kérjen árajánlatot egyszerűen, vagy adja le megrendelését.
                </p>
                <a href="#" class="uk-button uk-button-primary uk-border-pill uk-icon" data-uk-icon="arrow-right">Rendelés leadása<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-right"><polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline><line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg></a>
            </div>
            <div data-uk-scrollspy="cls: uk-animation-fade" class="uk-scrollspy-inview uk-animation-fade" style="">
                <img src="/assets/img/svg/flower1.svg" data-src="/assets/img/svg/flower1.svg" data-uk-img="" alt="Image">
            </div>
        </div>
    </div>
</section>
<hr class="uk-divider-icon uk-margin-large">
<section class="uk-section uk-section-secondary uk-section-large">
    <div class="uk-container">
        <form>
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Adja le rendelését itt, vagy érdeklődjön!</legend>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Név">
                </div>
                <div class="uk-margin">
                    <select class="uk-select">
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Írja meg nekünk üzenetét"></textarea>
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="radio2" checked> Érdeklődés</label>
                    <label><input class="uk-radio" type="radio" name="radio2"> Rendelés leadása</label>
                </div>
                <span></span>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-checkbox" type="checkbox" checked> Rózsa</label>
                    <label><input class="uk-checkbox" type="checkbox"> Tulipán</label>
                    <label><input class="uk-checkbox" type="checkbox"> Szegfű</label>
                </div>
            </fieldset>
        </form>
    </div>
</section>
<section id="content" class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-section uk-section-small uk-padding-remove-top">
        </div>
    </div>
</section>
{% endblock %}