{% extends '@templates/layouts/app.twig' %}

{% block title %}
    Szolg치ltat치sok
{% endblock %}

{% block content %}
<section class="uk-section uk-section-muted">
    <div class="uk-container">
        
        <h1>Szolg치ltat치sok</h1>
       
    </div>
</section>
{% endblock %}